/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  margin: 0;
}
h1 {
  margin: 0;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  background: #eee;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  img {
    width: 60px;
  }
  sub {
    margin-left: auto;
  }
}
.nav {
  ul {
    padding: 10px 20px;
    margin: 0;
    display: flex;
    background: #ccc;
  }
  li {
    list-style: none;
    + li {
      margin-left: 15px;
    }
  }
}
.footer {
  background: #000;
  color: #fff;
  padding: 10px 20px;
}
.main {
  padding: 25px 20px;
  flex: 1 0 auto;
}
